*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background: #ededed;
}
.Editor-tools{
  background: lightgreen;
  padding: 10px 20px;
  max-width: 90%;
  margin: 10px auto;
}
.Editor-toolItem{
  font-size: 2rem;
  color: red;
}

.Editor-content{
  background-color: #F2FB8D;
  width: 90%;
  margin: 10px auto;
  height: 80vh;
  overflow: hidden;
  position: relative;
  padding: 1rem;
}